---
layout: default
title: Blog
---
<!-- <h2>Latest Posts</h2> -->

<div class="blog-container">
  {% for post in site.posts %}
    <div class="blog-post-preview">
      <a href="{{ post.url }}">
        {% if post.image %}
          <img src="{{ post.image }}" alt="{{ post.title }} image" class="preview-image">
        {% endif %}
        <div class="preview-content">
          <h2 class="preview-title">{{ post.title }}</h2>
          <p class="preview-subtitle">{{ post.subtitle }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
