---
layout: default
title: Blog
---
<!-- <h2>Latest Posts</h2> -->

<div class="blog-container">
  {% for post in site.posts %}
    <div class="blog-post-preview">
      <a href="{{ post.url }}">
        {% if post.image %}
          <!-- NOTE: Each blog post can have an image in it. In the top of that blog's markdown you can adjust the postion of where the image sits on the preview -->
          <img src="{{ post.image }}" alt="{{ post.title }}" class="preview-image" style="object-position: {{ post.image_position }}"> 

        {% endif %}
        <div class="preview-content">
          <h2 class="preview-title">{{ post.title }}</h2>
          <p class="preview-subtitle">{{ post.subtitle }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
